In [1]:
import pandas as pd
import numpy as np
import os
import warnings
warnings.filterwarnings(action='ignore')
os.chdir('../../data')

In [2]:
data = pd.read_csv('encoded_data.csv', encoding='utf-8')
data.head()

,날짜,가맹점주소,가맹점업종_이름,가맹점업종,사용자거주시도,연령대,가구생애주기,카드사용인원수(환불사용자포함),카드사용건수(환불사용자제외),카드사용금액,남자,여자
0,201901,강원,건강보조식품 소매업,0.000115,0.7577,0.09523,0.09610,4,4,311200,1,0
1,201901,강원,건강보조식품 소매업,0.000115,0.7577,0.14925,0.16899,7,8,1374500,1,0
2,201901,강원,건강보조식품 소매업,0.000115,0.7577,0.14925,0.16899,6,6,818700,0,1
3,201901,강원,건강보조식품 소매업,0.000115,0.7577,0.24744,0.17280,4,5,1717000,1,0
4,201901,강원,건강보조식품 소매업,0.000115,0.7577,0.24744,0.34773,3,3,1047300,1,0

In [7]:
data['가맹점주소'].nunique() * data['가맹점업종_이름'].nunique()

697

In [76]:
cols = ['날짜', '가맹점주소', '가맹점업종_이름', '가맹점업종','사용자거주시도','연령대','가구생애주기','남자','여자']
group_df = data.groupby(cols).sum().reset_index()

In [77]:
group_df.head()

,날짜,가맹점주소,가맹점업종_이름,가맹점업종,사용자거주시도,연령대,가구생애주기,남자,여자,카드사용인원수(환불사용자포함),카드사용건수(환불사용자제외),카드사용금액
0,201901,강원,건강보조식품 소매업,0.000115,0.00106,0.17658,0.21438,0,1,5,5,90000
1,201901,강원,건강보조식품 소매업,0.000115,0.00109,0.17658,0.21438,0,1,5,5,127000
2,201901,강원,건강보조식품 소매업,0.000115,0.00365,0.03779,0.21438,0,1,4,4,98000
3,201901,강원,건강보조식품 소매업,0.000115,0.00365,0.17658,0.21438,0,1,3,3,57000
4,201901,강원,건강보조식품 소매업,0.000115,0.09564,0.03779,0.21438,0,1,5,6,151000

In [78]:
from sklearn.preprocessing import LabelEncoder

# 가맹점주소 인코딩
encoder1= LabelEncoder()
sido_encoder = encoder1.fit_transform(group_df['가맹점주소'])
group_df['가맹점주소'] = sido_encoder

# 가맹점업종_이름 인코딩
encoder2 = LabelEncoder()
upjong_encoder = encoder2.fit_transform(group_df['가맹점업종_이름'])
group_df['가맹점업종_이름'] = upjong_encoder

group_df.head()

,날짜,가맹점주소,가맹점업종_이름,가맹점업종,사용자거주시도,연령대,가구생애주기,남자,여자,카드사용인원수(환불사용자포함),카드사용건수(환불사용자제외),카드사용금액
0,201901,0,0,0.000115,0.00106,0.17658,0.21438,0,1,5,5,90000
1,201901,0,0,0.000115,0.00109,0.17658,0.21438,0,1,5,5,127000
2,201901,0,0,0.000115,0.00365,0.03779,0.21438,0,1,4,4,98000
3,201901,0,0,0.000115,0.00365,0.17658,0.21438,0,1,3,3,57000
4,201901,0,0,0.000115,0.09564,0.03779,0.21438,0,1,5,6,151000

In [79]:
final_data = group_df.groupby(['가맹점주소','가맹점업종_이름']).sum().reset_index()
final_data.head()

,가맹점주소,가맹점업종_이름,날짜,가맹점업종,사용자거주시도,연령대,가구생애주기,남자,여자,카드사용인원수(환불사용자포함),카드사용건수(환불사용자제외),카드사용금액
0,0,0,66230475,0.037720,176.52862,59.51697,72.92771,137,191,15343,16170,1820824382
1,0,1,355585758,5.682747,292.16984,339.38992,363.38119,1031,730,326003,465266,51290887138
2,0,2,351546351,1.826309,312.28493,335.38734,373.10861,915,826,318132,428427,16675489268
3,0,3,187584952,0.026941,195.54817,172.54110,187.80391,524,405,18764,22012,457212008
4,0,4,201905,0.000000,0.09564,0.24744,0.17280,1,0,6,10,177000

In [80]:
del final_data['날짜']

In [81]:
final_data.head()

,가맹점주소,가맹점업종_이름,가맹점업종,사용자거주시도,연령대,가구생애주기,남자,여자,카드사용인원수(환불사용자포함),카드사용건수(환불사용자제외),카드사용금액
0,0,0,0.037720,176.52862,59.51697,72.92771,137,191,15343,16170,1820824382
1,0,1,5.682747,292.16984,339.38992,363.38119,1031,730,326003,465266,51290887138
2,0,2,1.826309,312.28493,335.38734,373.10861,915,826,318132,428427,16675489268
3,0,3,0.026941,195.54817,172.54110,187.80391,524,405,18764,22012,457212008
4,0,4,0.000000,0.09564,0.24744,0.17280,1,0,6,10,177000

In [82]:
# 카드사용금액에 Log씌워주기
final_data['카드사용금액'] = np.log1p(final_data['카드사용금액'])
final_data.head()

,가맹점주소,가맹점업종_이름,가맹점업종,사용자거주시도,연령대,가구생애주기,남자,여자,카드사용인원수(환불사용자포함),카드사용건수(환불사용자제외),카드사용금액
0,0,0,0.037720,176.52862,59.51697,72.92771,137,191,15343,16170,21.322555
1,0,1,5.682747,292.16984,339.38992,363.38119,1031,730,326003,465266,24.660779
2,0,2,1.826309,312.28493,335.38734,373.10861,915,826,318132,428427,23.537206
3,0,3,0.026941,195.54817,172.54110,187.80391,524,405,18764,22012,19.940658
4,0,4,0.000000,0.09564,0.24744,0.17280,1,0,6,10,12.083911

In [83]:
# feature normalization
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()

final_data[['사용자거주시도','연령대',
            '가구생애주기','남자','여자',
            '카드사용인원수(환불사용자포함)','카드사용건수(환불사용자제외)']] = scaler.fit_transform(final_data[['사용자거주시도','연령대',
                                                                                      '가구생애주기','남자','여자',
                                                                                      '카드사용인원수(환불사용자포함)','카드사용건수(환불사용자제외)']])
final_data.head()

,가맹점주소,가맹점업종_이름,가맹점업종,사용자거주시도,연령대,가구생애주기,남자,여자,카드사용인원수(환불사용자포함),카드사용건수(환불사용자제외),카드사용금액
0,0,0,0.037720,-0.940784,-0.484634,-0.473095,-0.530366,-0.356248,-0.155846,-0.145584,21.322555
1,0,1,5.682747,-0.204910,0.296278,0.280583,0.298563,0.243807,0.051031,0.053869,24.660779
2,0,2,1.826309,-0.076909,0.285109,0.305824,0.191006,0.350682,0.045789,0.037508,23.537206
3,0,3,0.026941,-0.819755,-0.169270,-0.175011,-0.171535,-0.118007,-0.153568,-0.142990,19.940658
4,0,4,0.000000,-2.063503,-0.650009,-0.661882,-0.656467,-0.568884,-0.166059,-0.152761,12.083911

In [84]:
final_data.shape

(650, 11)

In [85]:
features = final_data.columns.tolist()[:-1]
features

['가맹점주소',
 '가맹점업종_이름',
 '가맹점업종',
 '사용자거주시도',
 '연령대',
 '가구생애주기',
 '남자',
 '여자',
 '카드사용인원수(환불사용자포함)',
 '카드사용건수(환불사용자제외)']

In [86]:
# 모델 학습시키기
from sklearn.neural_network import MLPRegressor

train_x = final_data[features]
train_y = final_data['카드사용금액']

model = MLPRegressor()
model.fit(train_x, train_y)

MLPRegressor()

In [87]:
temp = pd.DataFrame()

In [88]:
temp = final_data[final_data.columns.tolist()[:-1]]
temp.head()

,가맹점주소,가맹점업종_이름,가맹점업종,사용자거주시도,연령대,가구생애주기,남자,여자,카드사용인원수(환불사용자포함),카드사용건수(환불사용자제외)
0,0,0,0.037720,-0.940784,-0.484634,-0.473095,-0.530366,-0.356248,-0.155846,-0.145584
1,0,1,5.682747,-0.204910,0.296278,0.280583,0.298563,0.243807,0.051031,0.053869
2,0,2,1.826309,-0.076909,0.285109,0.305824,0.191006,0.350682,0.045789,0.037508
3,0,3,0.026941,-0.819755,-0.169270,-0.175011,-0.171535,-0.118007,-0.153568,-0.142990
4,0,4,0.000000,-2.063503,-0.650009,-0.661882,-0.656467,-0.568884,-0.166059,-0.152761

In [89]:
pred = model.predict(temp)
pred = np.expm1(pred)
temp['4월예측값'] = pred
temp = temp[['가맹점주소','가맹점업종_이름','4월예측값']]
temp.head()

   가맹점주소  가맹점업종_이름         4월예측값
0      0         0  1.423796e+06
1      0         1  6.747448e+05
2      0         2  5.687894e+05
3      0         3  1.752107e+05
4      0         4  1.056277e+06

In [92]:
temp['가맹점주소'] = encoder1.inverse_transform(temp['가맹점주소'])
temp['가맹점업종_이름'] = encoder2.inverse_transform(temp['가맹점업종_이름'])
temp.head(10)

  가맹점주소              가맹점업종_이름         4월예측값
0    강원            건강보조식품 소매업  1.423796e+06
1    강원               골프장 운영업  6.747448e+05
2    강원           과실 및 채소 소매업  5.687894e+05
3    강원     관광 민예품 및 선물용품 소매업  1.752107e+05
4    강원  그외 기타 분류안된 오락관련 서비스업  1.056277e+06
5    강원       그외 기타 스포츠시설 운영업  1.729605e+06
6    강원          그외 기타 종합 소매업  1.142705e+07
7    강원          기타 대형 종합 소매업  5.231789e+06
8    강원          기타 수상오락 서비스업  2.309251e+06
9    강원           기타 외국식 음식점업  1.019624e+07

---

# Train data 안에서 train, test 구분해서 모델 평가해보기

In [93]:
final_data.head()

,가맹점주소,가맹점업종_이름,가맹점업종,사용자거주시도,연령대,가구생애주기,남자,여자,카드사용인원수(환불사용자포함),카드사용건수(환불사용자제외),카드사용금액
0,0,0,0.037720,-0.940784,-0.484634,-0.473095,-0.530366,-0.356248,-0.155846,-0.145584,21.322555
1,0,1,5.682747,-0.204910,0.296278,0.280583,0.298563,0.243807,0.051031,0.053869,24.660779
2,0,2,1.826309,-0.076909,0.285109,0.305824,0.191006,0.350682,0.045789,0.037508,23.537206
3,0,3,0.026941,-0.819755,-0.169270,-0.175011,-0.171535,-0.118007,-0.153568,-0.142990,19.940658
4,0,4,0.000000,-2.063503,-0.650009,-0.661882,-0.656467,-0.568884,-0.166059,-0.152761,12.083911

In [107]:
650*0.9

585.0

In [109]:
print(features)

['가맹점주소', '가맹점업종_이름', '가맹점업종', '사용자거주시도', '연령대', '가구생애주기', '남자', '여자', '카드사용인원수(환불사용자포함)', '카드사용건수(환불사용자제외)']

In [114]:
from sklearn.neural_network import MLPRegressor
from sklearn.decomposition import PCA
from sklearn.metrics import mean_squared_log_error
pca = PCA(n_components=6)

train_d, test_d = final_data.iloc[:585], final_data.iloc[585:]

train_y = train_d['카드사용금액']
train_x = pca.fit_transform(train_d[features])

test_y = test_d['카드사용금액']
test_x = pca.transform(test_d[features])

model = MLPRegressor()
model.fit(train_x, train_y)

score = model.score(test_x, test_y)
pred = model.predict(test_x)
msle = mean_squared_log_error(np.expm1(test_y), np.expm1(pred))

print(f"R2 score : {score}\n RMSLE : {msle} \n Predicted value : {np.expm1(pred)}")

R2 score : -1.3364213904590865
 RMSLE : 25.111961692590334
 Predicted value : [1.25986497e+08 3.83181508e+12 6.14027342e+11 1.43551371e+11
 6.49566922e+11 2.09214711e+10 2.52947509e+10 1.22419144e+12
 3.38374143e+09 6.51764337e+11 2.37274608e+10 2.58315558e+10
 6.15198503e+11 3.61068422e+08 2.60097449e+12 4.89420977e+08
 2.64384624e+11 1.77292641e+12 7.05249595e+14 7.41704338e+11
 1.22079452e+09 1.24662854e+12 5.40165420e+17 1.66894659e+12
 4.69407953e+12 2.00951808e+12 5.40326211e+10 3.88071896e+10
 3.56951442e+12 2.60800291e+10 1.37627182e+09 1.77520509e+11
 1.08262508e+11 3.62950624e+08 2.71473573e+11 1.86668557e+09
 4.18901678e+09 3.92577787e+08 5.57658224e+08 2.26801416e+08
 1.23806431e+08 7.49402635e+12 1.09412452e+12 4.26534245e+11
 6.84357168e+10 1.80109494e+11 5.26037506e+10 2.77512915e+11
 6.18288445e+08 5.54372799e+11 3.63407665e+10 4.74953481e+10
 2.48040356e+11 1.45929039e+09 9.47695220e+11 4.30359844e+11
 1.04353734e+12 9.23333447e+15 2.40299417e+10 1.01864102e+10
 3.74160838e+12 4.57509250e+18 3.01817246e+11 1.60852169e+12
 4.05836649e+12]